In [66]:
import warnings
warnings.filterwarnings("ignore")
from sklearn.feature_extraction.text import TfidfVectorizer
import pandas as pd
import numpy as np

from sklearn.preprocessing import OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report, confusion_matrix

In [2]:
data = pd.read_csv(r"/Users/shwetabhat/Desktop/ATML/ProjectTask/DataPrepAndFeatureExt2/PreprocessedNoStopWords.csv")

In [8]:
del data['Content']
del data['id']
data.head(3)

,guten_genre,clean_data,Book_Name0,Book_Name1,Book_Name2,Book_Name3,Book_Name4,Book_Name5,Book_Name6,Book_Name7,...,Author_Name496,Author_Name497,Author_Name498,Author_Name499,Author_Name500,Author_Name501,Author_Name502,Author_Name503,Author_Name504,Author_Name505
0,Literary,love seeketh self please bind another delight...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Literary,james dear james upon time dedicated tale dee...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Literary,tokyo tijuana gabriele departing america stev...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
enc1 = OneHotEncoder(handle_unknown='ignore')
enc_df1 = pd.DataFrame(enc1.fit_transform(data[['Book_Name']]).toarray())
 # merge with main df bridge_df on key values
del data['Book_Name']
col_name=[]
for i in range(enc_df1.columns.start,enc_df1.columns.stop,enc_df1.columns.step):
    x="Book_Name"+(str(i))
    col_name.append(x)
enc_df1.columns=col_name
data = data.join(enc_df1)

In [5]:
enc1 = OneHotEncoder(handle_unknown='ignore')
enc_df1 = pd.DataFrame(enc1.fit_transform(data[['Author_Name']]).toarray())
 # merge with main df bridge_df on key values
del data['Author_Name']
col_name=[]
for i in range(enc_df1.columns.start,enc_df1.columns.stop,enc_df1.columns.step):
    x="Author_Name"+(str(i))
    col_name.append(x)
enc_df1.columns=col_name
data = data.join(enc_df1)

In [25]:
labels=data['guten_genre']
cols=list(data.columns)
cols=cols[1:]
data=data[cols]
data

,clean_data,Book_Name0,Book_Name1,Book_Name2,Book_Name3,Book_Name4,Book_Name5,Book_Name6,Book_Name7,Book_Name8,...,Author_Name496,Author_Name497,Author_Name498,Author_Name499,Author_Name500,Author_Name501,Author_Name502,Author_Name503,Author_Name504,Author_Name505
0,love seeketh self please bind another delight...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,james dear james upon time dedicated tale dee...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,tokyo tijuana gabriele departing america stev...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,looking back many month struggle foreboding w...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,page last page frontispiece stretched upon ow...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
989,book pleased bestow especial affection dedica...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
990,still evening dust hung golden moment slowly ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
991,reginald philip graham thursford baron traver...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
992,bettina mowbray walking deck ocean steamer bo...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
993,miss heth page vivian paint upon window dwelt...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [29]:
X_train, X_test,y_train,y_test = train_test_split(data,labels, test_size=0.3, random_state=42, stratify = labels)

In [33]:
X_train.head(3)

,clean_data,Book_Name0,Book_Name1,Book_Name2,Book_Name3,Book_Name4,Book_Name5,Book_Name6,Book_Name7,Book_Name8,...,Author_Name496,Author_Name497,Author_Name498,Author_Name499,Author_Name500,Author_Name501,Author_Name502,Author_Name503,Author_Name504,Author_Name505
330,early june year taking walk hampstead heath f...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
376,solitary room midnight single candle lighted ...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
560,sunrise first april appeared suddenly manco c...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [34]:
vectorizer = TfidfVectorizer(sublinear_tf=True)
train = vectorizer.fit_transform(X_train['clean_data'])
train=pd.DataFrame(train.todense())

In [35]:
test = vectorizer.transform(X_test['clean_data'])
test=pd.DataFrame(test.todense())

In [37]:
train.shape

(695, 114311)

In [62]:
train=X_test.head()

,0,1,2,3,4,5,6,7,8,9,...,Author_Name496,Author_Name497,Author_Name498,Author_Name499,Author_Name500,Author_Name501,Author_Name502,Author_Name503,Author_Name504,Author_Name505
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
train.reset_index(drop=True, inplace=True)    
X_train.reset_index(drop=True, inplace=True)

X_train=pd.concat([train,X_train],axis=1)

In [55]:
test.reset_index(drop=True, inplace=True)    
X_test.reset_index(drop=True, inplace=True)

X_test=pd.concat([test,X_test],axis=1)

In [63]:
train=X_train
test=X_test

In [56]:
feature_names = vectorizer.get_feature_names()

In [57]:
len(feature_names)

114311

In [58]:
feature_names

['aachen',
 'aaem',
 'aair',
 'aalsund',
 'aamand',
 'aamy',
 'aamænd',
 'aaoow',
 'aaraaf',
 'aargau',
 'aarhus',
 'aaron',
 'aase',
 'aback',
 'abaddon',
 'abaft',
 'abaho',
 'abaht',
 'abalone',
 'abana',
 'abandon',
 'abandoned',
 'abandonedly',
 'abandoning',
 'abandonment',
 'abanijo',
 'abart',
 'abase',
 'abased',
 'abasement',
 'abash',
 'abashed',
 'abashes',
 'abashing',
 'abashingly',
 'abashment',
 'abasing',
 'abate',
 'abated',
 'abatement',
 'abates',
 'abating',
 'abatis',
 'abatross',
 'abattez',
 'abattis',
 'abattoir',
 'abattre',
 'abawt',
 'abazzia',
 'abbaside',
 'abbassieh',
 'abbate',
 'abbati',
 'abbatial',
 'abbaye',
 'abbe',
 'abbencombe',
 'abberley',
 'abbess',
 'abbetting',
 'abbeville',
 'abbey',
 'abbeyland',
 'abbia',
 'abbie',
 'abbot',
 'abbotsbury',
 'abbotsford',
 'abbott',
 'abbotts',
 'abbozzatore',
 'abbrazza',
 'abbreviate',
 'abbreviated',
 'abbreviating',
 'abbreviation',
 'abbreviative',
 'abbrucia',
 'abby',
 'abbé',
 'abbés',
 'abc',
 'abcdef',
 'abdallah',
 'abdera',
 'abderite',
 'abderitish',
 'abdi',
 'abdicate',
 'abdicated',
 'abdicates',
 'abdicating',
 'abdication',
 'abdiel',
 'abdiels',
 'abdingdon',
 'abdomen',
 'abdominal',
 'abduct',
 'abducted',
 'abductin',
 'abducting',
 'abduction',
 'abductor',
 'abducts',
 'abdul',
 'abdullah',
 'abdur',
 'abdy',
 'abea',
 'abeam',
 'abear',
 'abeating',
 'abecedarian',
 'abed',
 'abednego',
 'abeen',
 'abeing',
 'abel',
 'abelard',
 'abelwhite',
 'abend',
 'abendbrod',
 'abener',
 'aber',
 'aberconway',
 'abercorn',
 'abercorns',
 'abercroft',
 'abercrombie',
 'abercromby',
 'aberdeen',
 'aberdeenshire',
 'aberford',
 'aberg',
 'abergavenny',
 'aberkilvie',
 'abermarle',
 'abernethy',
 'abernetty',
 'aberrant',
 'aberration',
 'abershaw',
 'abertawe',
 'aberystwyth',
 'abet',
 'abetment',
 'abets',
 'abetted',
 'abetter',
 'abetting',
 'abettor',
 'abey',
 'abeyance',
 'abgeordneten',
 'abhor',
 'abhorence',
 'abhorent',
 'abhorre',
 'abhorred',
 'abhorrence',
 'abhorrent',
 'abhorrently',
 'abhorrer',
 'abhorring',
 'abhorringly',
 'abhors',
 'abiathar',
 'abide',
 'abided',
 'abides',
 'abidest',
 'abideth',
 'abiding',
 'abidingly',
 'abidingness',
 'abigail',
 'abigails',
 'abijah',
 'abilene',
 'ability',
 'abine',
 'abingdon',
 'abipones',
 'abiram',
 'abishag',
 'abisheg',
 'abit',
 'abitao',
 'abject',
 'abjection',
 'abjectly',
 'abjectness',
 'abjectus',
 'abjuration',
 'abjure',
 'abjured',
 'abjures',
 'abjuring',
 'ablated',
 'ablative',
 'ablaze',
 'able',
 'ableness',
 'abler',
 'ablest',
 'ablinkin',
 'abloo',
 'abloom',
 'ablow',
 'ablowing',
 'ablution',
 'ablutionary',
 'ably',
 'abnegated',
 'abnegating',
 'abnegation',
 'abner',
 'abney',
 'abnormal',
 'abnormality',
 'abnormally',
 'abnormity',
 'aboab',
 'aboabs',
 'aboard',
 'aboardin',
 'aboardship',
 'abode',
 'aboil',
 'abolish',
 'abolished',
 'abolishing',
 'abolishment',
 'abolition',
 'abolitionism',
 'abolitionist',
 'aboltraqu',
 'abominable',
 'abominably',
 'abominate',
 'abominated',
 'abominates',
 'abominating',
 'abomination',
 'abon',
 'abonnement',
 'aboo',
 'aboon',
 'aboord',
 'aboot',
 'aboove',
 'abord',
 'aboriginal',
 'aboriginally',
 'aboriginalness',
 'aborigine',
 'abort',
 'aborted',
 'aborting',
 'abortion',
 'abortioned',
 'abortive',
 'abortively',
 'aboukir',
 'abound',
 'abounded',
 'abounding',
 'aboundingly',
 'abounds',
 'aboutepounding',
 'abouts',
 'above',
 'aboveboard',
 'abovementioned',
 'abovestairs',
 'abracadabra',
 'abradbanya',
 'abrade',
 'abraded',
 'abrading',
 'abraham',
 'abraised',
 'abram',
 'abrams',
 'abran',
 'abrased',
 'abrasia',
 'abrasion',
 'abrasive',
 'abrasively',
 'abrazza',
 'abread',
 'abreast',
 'abregès',
 'abrem',
 'abridge',
 'abridged',
 'abridgement',
 'abridging',
 'abridgment',
 'abrim',
 'abrivade',
 'abroach',
 'abroad',
 'abrodiaitos',
 'abrogate',
 'abrogated',
 'abrogating',
 'abrogation',
 'abrogator',
 'abrupt',
 'abrupted',
 'abruptedly',
 'abrupter',
 'abruptly',
 'abruptness',
 'abruzzi',
 'absalom',
 'absawd',
 'abscess',
 'abscies',
 'abscissa',
 'abscond',
 'absconded',
 'absconder',
 'absconding',
 'absence',
 'absens',
 'absense',
 'absent',
 'absented',
 'absentee',
 'absenteeism',
 'absenting',
 'absentis',
 'absently',
 'absentminded',
 'absentmindedly',
 'absentmindedness',
 'absentness',
 'absents',
 'absinthe',
 'absinthiated',
 'absit',
 'absogoshdarnlutely',
 'absolom',
 'absolum',
 'absolument',
 'absolumént',
 'absolute',
 'absolutely',
 'absoluteness',
 'absolution',
 'absolutism',
 'absolutist',
 'absolve',
 'absolved',
 'absolver',
 'absolves',
 'absolving',
 'absolvisti',
 'absolvo',
 'absolûment',
 'absona',
 'absorb',
 'absorbed',
 'absorbedly',
 'absorbedness',
 'absorbent',
 'absorber',
 'absorbing',
 'absorbingly',
 'absorbs',
 'absorbtion',
 'absorption',
 'absorptive',
 'absquatulated',
 'abst',
 'abstain',
 'abstained',
 'abstainer',
 'abstaining',
 'abstains',
 'abstemious',
 'abstemiously',
 'abstemiousness',
 'abstention',
 'absterrebitur',
 'abstinence',
 'abstinent',
 'abstract',
 'abstracted',
 'abstractedly',
 'abstractedness',
 'abstractest',
 'abstracting',
 'abstraction',
 'abstractly',
 'abstractness',
 'abstractor',
 'abstruse',
 'abstrusely',
 'abstruseness',
 'abstruser',
 'abstrusity',
 'absurd',
 'absurdedly',
 'absurder',
 'absurdes',
 'absurdest',
 'absurdity',
 'absurdly',
 'absurdum',
 'abul',
 'abulcasem',
 'abundance',
 'abundant',
 'abundantly',
 'abune',
 'abuse',
 'abused',
 'abusedly',
 'abuser',
 'abusin',
 'abusing',
 'abusive',
 'abusively',
 'abusiveness',
 'abut',
 'abutment',
 'abuts',
 'abutted',
 'abutting',
 'abxut',
 'abydos',
 'abyedok',
 'abysm',
 'abysmal',
 'abysmally',
 'abyss',
 'abyssinia',
 'abyssinian',
 'abyssus',
 'abâyeh',
 'acacia',
 'academe',
 'academia',
 'academic',
 'academical',
 'academically',
 'academician',
 'academists',
 'academy',
 'acadia',
 'acadian',
 'académie',
 'académique',
 'acajou',
 'acamarichtzin',
 'acanthus',
 'acaule',
 'acause',
 'acca',
 'accademia',
 'acccount',
 'accede',
 'acceded',
 'accedence',
 'accedes',
 'acceding',
 'accelerate',
 'accelerated',
 'accelerates',
 'accelerating',
 'acceleration',
 'accelerator',
 'accenna',
 'accent',
 'accented',
 'accenting',
 'accentless',
 'accentuate',
 'accentuated',
 'accentuating',
 'accentuation',
 'accentuators',
 'accep',
 'accept',
 'acceptability',
 'acceptable',
 'acceptably',
 'acceptance',
 'acceptation',
 'accepted',
 'accepting',
 'acceptit',
 'acceptor',
 'accepts',
 'access',
 'accessary',
 'accesse',
 'accessibility',
 'accessible',
 'accessibles',
 'accession',
 'accessoirés',
 'accessory',
 'acciden',
 'accidence',
 'accident',
 'accidental',
 'accidentalism',
 'accidentally',
 'accidente',
 'accidenti',
 'accidently',
 'accidunt',
 'accipe',
 'accipients',
 'acclaim',
 'acclaimed',
 'acclaiming',
 'acclamation',
 'acclamazioni',
 'acclimate',
 'acclimated',
 'acclimating',
 'acclimatise',
 'acclimatised',
 'acclimatization',
 'acclimatized',
 'acclivity',
 'accolade',
 'accomidatin',
 'accommodate',
 'accommodated',
 'accommodates',
 'accommodatin',
 'accommodating',
 'accommodatingly',
 'accommodation',
 'accommodazion',
 'accomodate',
 'accomodation',
 'accompanied',
 'accompanies',
 'accompaniment',
 'accompanist',
 'accompany',
 'accompanyest',
 'accompanying',
 'accompanyist',
 'accompli',
 'accomplice',
 'accomplish',
 'accomplished',
 'accomplishes',
 'accomplishing',
 'accomplishment',
 'accompliè',
 'accompts',
 'accoont',
 'accoramboni',
 'accord',
 'accordance',
 'accordant',
 'accorded',
 'accorden',
 'accordeon',
 'accordeons',
 'accordin',
 'according',
 'accordingly',
 'accordings',
 'accordion',
 'accorto',
 'accost',
 'accosted',
 'accoster',
 'accosters',
 'accosting',
 'accosts',
 'accouchement',
 'accoucheur',
 'accoucheuse',
 'account',
 'accountability',
 'accountable',
 'accountancy',
 'accountant',
 'accounted',
 'accountin',
 'accounting',
 'accoutered',
 'accouterment',
 'accoutred',
 'accoutrement',
 'accredit',
 'accredited',
 'accrediting',
 'accrete',
 'accretion',
 'accrington',
 'accringtons',
 'accross',
 'accru',
 'accrue',
 'accrued',
 'accrues',
 'accruing',
 'acct',
 'accts',
 'accumulate',
 'accumulated',
 'accumulates',
 'accumulating',
 'accumulation',
 'accumulative',
 'accumulatively',
 'accumulator',
 'accuracy',
 'accurate',
 'accurately',
 'accurse',
 'accursed',
 'accursedly',
 'accursing',
 'accurst',
 'accusation',
 'accusative',
 'accusatory',
 'accuse',
 'accused',
 'accuser',
 'accuses',
 'accusin',
 'accusing',
 'accusingly',
 'accusit',
 'accustom',
 'accustomance',
 'accustomary',
 'accustomed',
 'accustoming',
 'accustoms',
 'accès',
 'acde',
 'ace',
 'aceldama',
 'acequia',
 'acequias',
 'acer',
 'acerb',
 'acerbating',
 'acerbic',
 'acerbity',
 'acerca',
 'acetic',
 'acetous',
 'acetylene',
 'acevido',
 'achaia',
 'achaian',
 'achaion',
 'achan',
 'achates',
 'achatours',
 'achcha',
 'ache',
 'ached',
 'achelous',
 'achen',
 'achenbach',
 'achensee',
 'acheron',
 'acherontic',
 'achieve',
 'achieved',
 'achievement',
 'achiever',
 'achieves',
 'achieving',
 'achill',
 'achille',
 'achillean',
 'achilles',
 'achilli',
 'achillis',
 'achin',
 'aching',
 'achingly',
 'achitophel',
 'achmed',
 'achmet',
 'achoke',
 'achon',
 'achree',
 'achromatic',
 'achs',
 'achtsett',
 'achæans',
 'acid',
 'acidity',
 'acidly',
 'acidulated',
 'acidulous',
 'acies',
 'acis',
 'ackerfortis',
 'ackerman',
 'ackinson',
 'ackisation',
 'ackland',
 'ackley',
 'acknowledge',
 'acknowledged',
 'acknowledgement',
 'acknowledges',
 'acknowledging',
 'acknowledgment',
 'ackroyd',
 'acks',
 'ackshally',
 'ackshellay',
 'ackworth',
 'acme',
 'acmé',
 'acold',
 'acolyte',
 'acolyth',
 'acomin',
 'aconcagua',
 'aconite',
 'aconitine',
 'acorn',
 'acos',
 'acoustic',
 'acoustically',
 'acquaint',
 'acquaintance',
 'acquaintanceship',
 'acquainted',
 'acquainting',
 'acquaints',
 'acquant',
 'acquapendente',
 'acquasole',
 'acquatic',
 'acqui',
 'acquiesce',
 'acquiesced',
 'acquiescence',
 'acquiescent',
 'acquiescently',
 'acquiesces',
 'acquiescing',
 'acquiesence',
 'acquiline',
 'acquire',
 'acquired',
 'acquirement',
 'acquirendi',
 'acquirens',
 'acquirer',
 'acquires',
 'acquirin',
 'acquiring',
 'acquisition',
 'acquisitive',
 'acquisitively',
 'acquisitiveness',
 'acquit',
 'acquitania',
 'acquits',
 'acquittal',
 'acquittance',
 'acquitted',
 'acquitting',
 'acrass',
 'acre',
 'acreage',
 'acrid',
 'acridity',
 'acridly',
 'acridness',
 'acrimonious',
 'acrimoniously',
 'acrimony',
 'acritelli',
 'acrobat',
 'acrobatic',
 'acrobatics',
 'acrodato',
 'acropolis',
 'acrorst',
 'across',
 'acrost',
 'acrostic',
 'acshully',
 'act',
 'actaeon',
 'acte',
 'acted',
 'actest',
 'acti',
 'actial',
 'actially',
 'actilly',
 'actin',
 'acting',
 'actinia',
 'actiniadae',
 'action',
 'actionable',
 'actium',
 'active',
 'actively',
 'activeness',
 'activest',
 'activist',
 'activity',
 'actly',
 'acton',
 'actons',
 'actor',
 'actress',
 'actual',
 'actuality',
 'actualization',
 'actualized',
 'actually',
 'actuary',
 'actuate',
 'actuated',
 'actuates',
 'actuating',
 'actuation',
 'actum',
 'actæon',
 'actæons',
 'acuerdo',
 'acuity',
 'acumapicthzin',
 'acumen',
 'acuminated',
 'acupuncture',
 'acushla',
 'acushnet',
 'acuta',
 'acute',
 'acutely',
 'acuteness',
 'acuter',
 'acutest',
 'acutiloba',
 'adad',
 'adage',
 'adaged',
 'adagio',
 'adagioeyour',
 'adagiooll',
 'adah',
 'adain',
 'adainst',
 'adair',
 'adairs',
 'adairsville',
 'adalbert',
 'adalina',
 'adaline',
 'adam',
 'adamant',
 'adamantine',
 'adamantius',
 'adamantly',
 'adamantyne',
 'adamello',
 'adamic',
 'adamite',
 'adamitish',
 'adams',
 'adana',
 'adantino',
 'adapt',
 'adaptability',
 'adaptable',
 'adaptation',
 'adapted',
 'adapter',
 'adapting',
 'adaption',
 'adaptive',
 'adaptiveness',
 'adapts',
 'aday',
 'add',
 'adda',
 'addable',
 'addax',
 'adde',
 'added',
 'addendum',
 'adder',
 'addeth',
 'addicks',
 'addict',
 'addicted',
 'addicti',
 'addicting',
 'addiction',
 'addictive',
 'addictively',
 'addie',
 'addin',
 'adding',
 'addington',
 'addingtonian',
 'addingtonians',
 'addingtons',
 'addio',
 'addios',
 'addiscombe',
 'addison',
 'addisonian',
 'addisons',
 'addition',
 'additional',
 'additionally',
 'addix',
 'addle',
 'addled',
 'addlehead',
 'addlepated',
 'addlepates',
 'addles',
 'addleton',
 'addling',
 'address',
 'addressed',
 'addressee',
 'addresser',
 'addressing',
 'addrionick',
 'adduce',
 'adduced',
 'adducing',
 'addwess',
 'adeea',
 'adegah',
 'adel',
 'adela',
 'adelaide',
 'adelantado',
 'adelante',
 'adele',
 'adeles',
 'adelina',
 'adeline',
 'adeliza',
 'adelle',
 'adelles',
 'adelphi',
 'ademptum',
 'aden',
 'adeney',
 'adenoid',
 'adenoidal',
 'adeo',
 'adeos',
 'adept',
 'adeptship',
 'adequacy',
 'adequate',
 'adequately',
 'ader',
 'adesso',
 'adeste',
 'adesto',
 'adharc',
 'adhem',
 'adhere',
 'adhered',
 'adherence',
 'adherent',
 'adherer',
 'adheres',
 'adhering',
 'adhesion',
 'adhesive',
 'adhesively',
 'adhesiveness',
 'adhmiral',
 'adhémar',
 'adianthum',
 'adienx',
 'adieu',
 'adige',
 'adigrat',
 ...]

In [64]:
train_labels=y_train
test_labels=y_test

In [80]:
del train['clean_data']
del test['clean_data']

In [81]:
svc = svm.SVC(gamma='auto')
parameters = {'kernel':('linear', 'rbf'), 'C':[1, 10]}

clf = GridSearchCV(svc, parameters)

clf.fit(train,train_labels)

clf.best_params_

{'C': 1, 'kernel': 'linear'}

In [82]:
predictions=clf.predict(test)
train_pred=clf.predict(train)

print("train accuracy: {} ".format(accuracy_score(train_labels,train_pred,normalize=True, sample_weight=None)))
print("test accuracy: {} ".format(accuracy_score(test_labels,predictions,normalize=True, sample_weight=None)))

train accuracy: 1.0
test accuracy: 0.8461538461538461

In [83]:
print("Confusion Matrix:     ")
print(confusion_matrix(test_labels, predictions))
        
print("\n\nClassification Report:       ")
print(classification_report(test_labels, predictions))

Confusion Matrix:
[[  0   0   0   0   0   1   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0  11   0   0  22   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0 238   0   0   0]
 [  0   0   0   0   0   5   0   0   0]
 [  0   0   0   0   0   8   0   2   1]
 [  0   0   0   0   0   3   0   0   2]]


Classification Report:
                             precision    recall  f1-score   support

                 Allegories       0.00      0.00      0.00         1
          Christmas Stories       0.00      0.00      0.00         2
      Detective and Mystery       1.00      0.33      0.50        33
           Ghost and Horror       0.00      0.00      0.00         2
Humorous and Wit and Satire       0.00      0.00      0.00         2
                   Literary       0.84      1.00      0.91       238
           Love and Romance       0.00      0.00      0.00         5
          Sea and Adventure       1.00      0.18      0.31        11
            Western Stories       0.67      0.40      0.50         5

                   accuracy                           0.85       299
                  macro avg       0.39      0.21      0.25       299
               weighted avg       0.83      0.85      0.80       299

In [84]:
param_grid1 = {'C': [0.001, 0.01, 0.1, 1, 10], 'gamma' : [1e-3, 1e-4]}
grid_search1 = GridSearchCV(svm.SVC(kernel='rbf',gamma='auto'), param_grid1)
grid_search1.fit(train,train_labels)
grid_search1.best_params_

{'C': 0.001, 'gamma': 0.001}

In [85]:
predictions=grid_search1.predict(test)
train_pred=grid_search1.predict(train)

In [86]:
print("train accuracy: {} ".format(accuracy_score(train_labels,train_pred,normalize=True, sample_weight=None)))
print("test accuracy: {} ".format(accuracy_score(test_labels,predictions,normalize=True, sample_weight=None)))

train accuracy: 0.7971223021582734
test accuracy: 0.7959866220735786

In [87]:
from sklearn.metrics import classification_report, confusion_matrix
print("Confusion Matrix:     ")
print(confusion_matrix(test_labels, predictions))
        
print("\n\nClassification Report:       ")
print(classification_report(test_labels, predictions))

Confusion Matrix:
[[  0   0   0   0   0   1   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0  33   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0 238   0   0   0]
 [  0   0   0   0   0   5   0   0   0]
 [  0   0   0   0   0  11   0   0   0]
 [  0   0   0   0   0   5   0   0   0]]


Classification Report:
                             precision    recall  f1-score   support

                 Allegories       0.00      0.00      0.00         1
          Christmas Stories       0.00      0.00      0.00         2
      Detective and Mystery       0.00      0.00      0.00        33
           Ghost and Horror       0.00      0.00      0.00         2
Humorous and Wit and Satire       0.00      0.00      0.00         2
                   Literary       0.80      1.00      0.89       238
           Love and Romance       0.00      0.00      0.00         5
          Sea and Adventure       0.00      0.00      0.00        11
            Western Stories       0.00      0.00      0.00         5

                   accuracy                           0.80       299
                  macro avg       0.09      0.11      0.10       299
               weighted avg       0.63      0.80      0.71       299

In [88]:
param_grid = {'C': [0.001, 0.01, 0.1, 1, 10], 'gamma' : [0.001, 0.01, 0.1, 1]}
grid_search = GridSearchCV(svm.SVC(kernel='rbf',gamma='auto'), param_grid)
grid_search.fit(train,train_labels)
grid_search.best_params_

{'C': 10, 'gamma': 0.1}

In [89]:
predictions=grid_search.predict(test)
train_pred=grid_search.predict(train)

In [90]:
print("train accuracy: {} ".format(accuracy_score(train_labels,train_pred,normalize=True, sample_weight=None)))
print("test accuracy: {} ".format(accuracy_score(test_labels,predictions,normalize=True, sample_weight=None)))

train accuracy: 1.0
test accuracy: 0.8394648829431438

In [91]:
from sklearn.metrics import classification_report, confusion_matrix
print("Confusion Matrix:     ")
print(confusion_matrix(test_labels, predictions))
        
print("\n\nClassification Report:       ")
print(classification_report(test_labels, predictions))

Confusion Matrix:
[[  0   0   0   0   0   1   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0  10   0   0  23   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0 238   0   0   0]
 [  0   0   0   0   0   5   0   0   0]
 [  0   0   0   0   0   8   0   2   1]
 [  0   0   0   0   0   4   0   0   1]]


Classification Report:
                             precision    recall  f1-score   support

                 Allegories       0.00      0.00      0.00         1
          Christmas Stories       0.00      0.00      0.00         2
      Detective and Mystery       1.00      0.30      0.47        33
           Ghost and Horror       0.00      0.00      0.00         2
Humorous and Wit and Satire       0.00      0.00      0.00         2
                   Literary       0.84      1.00      0.91       238
           Love and Romance       0.00      0.00      0.00         5
          Sea and Adventure       1.00      0.18      0.31        11
            Western Stories       0.50      0.20      0.29         5

                   accuracy                           0.84       299
                  macro avg       0.37      0.19      0.22       299
               weighted avg       0.82      0.84      0.79       299

In [92]:
param_grid = {'C': [0.001, 0.01, 0.1, 1, 10], 'gamma' : [0.001, 0.01, 0.1, 1, 10, 100, 1000]}
grid_search = GridSearchCV(svm.SVC(kernel='linear',gamma='auto'), param_grid)
grid_search.fit(train,train_labels)
grid_search.best_params_

{'C': 1, 'gamma': 0.001}

In [93]:
predictions=grid_search.predict(test)
train_pred=grid_search.predict(train)

In [94]:
print("train accuracy: {} ".format(accuracy_score(train_labels,train_pred,normalize=True, sample_weight=None)))
print("test accuracy: {} ".format(accuracy_score(test_labels,predictions,normalize=True, sample_weight=None)))

train accuracy: 1.0
test accuracy: 0.8461538461538461

In [95]:
from sklearn.metrics import classification_report, confusion_matrix
print("Confusion Matrix:     ")
print(confusion_matrix(test_labels, predictions))
        
print("\n\nClassification Report:       ")
print(classification_report(test_labels, predictions))

Confusion Matrix:
[[  0   0   0   0   0   1   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0  11   0   0  22   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0 238   0   0   0]
 [  0   0   0   0   0   5   0   0   0]
 [  0   0   0   0   0   8   0   2   1]
 [  0   0   0   0   0   3   0   0   2]]


Classification Report:
                             precision    recall  f1-score   support

                 Allegories       0.00      0.00      0.00         1
          Christmas Stories       0.00      0.00      0.00         2
      Detective and Mystery       1.00      0.33      0.50        33
           Ghost and Horror       0.00      0.00      0.00         2
Humorous and Wit and Satire       0.00      0.00      0.00         2
                   Literary       0.84      1.00      0.91       238
           Love and Romance       0.00      0.00      0.00         5
          Sea and Adventure       1.00      0.18      0.31        11
            Western Stories       0.67      0.40      0.50         5

                   accuracy                           0.85       299
                  macro avg       0.39      0.21      0.25       299
               weighted avg       0.83      0.85      0.80       299

In [96]:
import sklearn
from sklearn.naive_bayes import MultinomialNB

In [97]:
mnb = MultinomialNB() 
model1 = mnb.fit(train, train_labels)
predictions = mnb.predict(test)

In [98]:
print("train accuracy: {} ".format(mnb.fit(train, train_labels).score(train, train_labels)))
print("test accuracy: {} ".format(mnb.fit(train, train_labels).score(test, test_labels)))

train accuracy: 0.7971223021582734
test accuracy: 0.7959866220735786

In [99]:
from sklearn.metrics import classification_report, confusion_matrix
print("Confusion Matrix:     ")
print(confusion_matrix(test_labels, predictions))
        
print("\n\nClassification Report:       ")
print(classification_report(test_labels, predictions))

Confusion Matrix:
[[  0   0   0   0   0   1   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0  33   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0 238   0   0   0]
 [  0   0   0   0   0   5   0   0   0]
 [  0   0   0   0   0  11   0   0   0]
 [  0   0   0   0   0   5   0   0   0]]


Classification Report:
                             precision    recall  f1-score   support

                 Allegories       0.00      0.00      0.00         1
          Christmas Stories       0.00      0.00      0.00         2
      Detective and Mystery       0.00      0.00      0.00        33
           Ghost and Horror       0.00      0.00      0.00         2
Humorous and Wit and Satire       0.00      0.00      0.00         2
                   Literary       0.80      1.00      0.89       238
           Love and Romance       0.00      0.00      0.00         5
          Sea and Adventure       0.00      0.00      0.00        11
            Western Stories       0.00      0.00      0.00         5

                   accuracy                           0.80       299
                  macro avg       0.09      0.11      0.10       299
               weighted avg       0.63      0.80      0.71       299

In [100]:
import sklearn
from sklearn.naive_bayes import GaussianNB

In [101]:
gnb = GaussianNB() 
model1 = gnb.fit(train, train_labels)
predictions = gnb.predict(test)

In [102]:
print("train accuracy: {} ".format(gnb.fit(train, train_labels).score(train, train_labels)))
print("test accuracy: {} ".format(gnb.fit(train, train_labels).score(test, test_labels)))

train accuracy: 1.0
test accuracy: 0.8193979933110368

In [103]:
from sklearn.metrics import classification_report, confusion_matrix
print("Confusion Matrix:     ")
print(confusion_matrix(test_labels, predictions))
        
print("\n\nClassification Report:       ")
print(classification_report(test_labels, predictions))

Confusion Matrix:
[[  0   0   0   0   0   1   0   0   0]
 [  0   0   1   0   0   1   0   0   0]
 [  0   0  10   0   0  23   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   0   0   0   2   0   0   0]
 [  0   0   2   0   0 232   1   3   0]
 [  0   0   0   0   0   5   0   0   0]
 [  0   0   0   0   0   9   0   2   0]
 [  0   0   0   0   0   4   0   0   1]]


Classification Report:
                             precision    recall  f1-score   support

                 Allegories       0.00      0.00      0.00         1
          Christmas Stories       0.00      0.00      0.00         2
      Detective and Mystery       0.77      0.30      0.43        33
           Ghost and Horror       0.00      0.00      0.00         2
Humorous and Wit and Satire       0.00      0.00      0.00         2
                   Literary       0.83      0.97      0.90       238
           Love and Romance       0.00      0.00      0.00         5
          Sea and Adventure       0.40      0.18      0.25        11
            Western Stories       1.00      0.20      0.33         5

                   accuracy                           0.82       299
                  macro avg       0.33      0.18      0.21       299
               weighted avg       0.78      0.82      0.78       299